.fixImage {
    width: 100%;
    height: 65vh;
    background-image: url('../assets/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position-y: center;
}

.fixImage-2 {
    width: 100%;
    height: 65vh;
    background-image: url('../assets/image-fix.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position-y: center;
}

@media (max-width: 768px) {
    .fixImage {
        height: 15vh;
        background-color: #fafdfb;
        background-attachment: initial;
        background-position-x: center;
        background-position-y: center;

        }
    .fixImage-2 {
      display: none;
      visibility: hidden;

    }
}