.service-card {
    cursor: pointer;
    width: 280px;
    height: 300px;
    padding: 50px 40px;
    border: 1px solid #f7f7f7;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .05);
    -webkit-transition: box-shadow 200ms ease;
    transition: box-shadow 200ms ease;
  }

  .service-card:hover {
    transform: scale(1.05);
  }

  .feature-icon {
    display: flex;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

  }

  .service-card h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }

  .service-card p {
    color: #999;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  .card-image {
    display: inline-block;
    max-width: 100%;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 1rem;
    color: #666;
  }


  @media (min-width: 750px) and (max-width: 1300px) {
    .service-card {
      height: auto;
      padding: 20px;
    }
  
  }

 

  
  @media (max-width: 400px) {
   .service-card {
    width: 80%;
    height: auto;
    padding: 30px;
   } 
   .service-card:hover {
    transform: none;
  }
  }